MONGODB_URI=mongodb+srv://sergewiseabijuru5_db_user:@cluster0.bn9trs3.mongodb.net/?appName=Cluster0
MONGODB_DB_NAME=e_tungo
NEXT_PUBLIC_ADMIN_EMAIL=tungatechnologies@gmail.com
ADMIN_PASSWORD=change-me
ADMIN_SESSION_SECRET=change-me
